<article><header>
    <h2 style="text-align: center;">Hodlcorp</h2>
    </header>
    <p style="text-align: center;"><em>Your trusted lightning network payments router!<br /></em></p>
    <p style="text-align: center;"><em>Sending your satoshis with a smile since 2018!</em></p>
    <p style="text-align: center;">&nbsp;</p>
    <p><img style="display: block; margin-left: auto; margin-right: auto;" src="Lightning_Node_QR_code.png" alt="Lightning Network qr code" width="230" height="230" /></p>
    <p style="text-align: center;">038373ff3ab67a74078be52b8dc6061b9272063b8b842c0eafae8bdc044a7bcbef@qm3rrtz36bntp3vgdo2wrgnyvjo6aqk5dw7tfyz5ygutgne6pyciqoqd.onion:9735</p>
    <p>&nbsp;</p>
    <p style="text-align: center;"><a href="https://t.me/hodlon">Telegram</a>&nbsp;&infin; <a href="mailto:h@dlon.us">Email</a>&nbsp;&infin;&nbsp;<a href="https://gitlab.com/hodlon/">Gitlab</a><br />&nbsp;</p>
    <p style="text-align: center;"><a href="bitcoin/bitcoin.html">Bitcoin</a>&nbsp;⚡&nbsp;<a href="ipfs/ipfs.html">IPFS</a><br />&nbsp;</p>
    </article>
    <footer>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p style="text-align: center;">Powered by IPFS &amp; HTML</p>
    </footer>
